@model IEnumerable<MyBookstore.Models.PublishersModels>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PublishersName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PublishersName)
        </td>
        <td>
            <a href="@Url.Action("Edit", "Publishers", new { id=item.ID })" class="btn btn-xs btn-info">
                <i class='fa fa-edit'></i>
            </a>
            <a href="@Url.Action("Delete", "Publishers", new { id=item.ID })" class="btn btn-xs btn-danger"
               onclick='return confirm("Do you wish to continue?")'>
                <i class='fa fa-trash'></i>
            </a>
        </td>
    </tr>
}

</table>
